<div id="heroCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
  <% @is_first = true %>
  <% @events.each do |event| %>
    <div class="item <%= @is_first? 'active' : '' %>">
      <% @is_first = false %>
      <div class="overflow-box">
        <% if event.prose.blank? and event.link.nil? %>
          <%= image_tag event.photo.url(:carousel), :size => '700x450' %>
          <div class="carousel-caption">
            <p>
            <span class="event-header">
              <%= content_tag :span, event.starts_at.strftime("%A, %b %e"), class: 'event-date' %>
              <%= content_tag :span, event.title, class: 'event-title' %>
            </span>
            <%= raw event.summary %></p>
          </div>
        <% else %>
        <% link = event.link.nil? ? event_path(event) : event.link %>
          <%= link_to(link) do %>
            <%= image_tag event.photo.url(:carousel), :size => '700x450' %>
            <div class="carousel-caption">
              <p>
              <span class="event-header">
                <%= content_tag :span, event.starts_at.strftime("%A, %b %e"), class: 'event-date' %>
                <%= content_tag :span, event.title, class: 'event-title' %>
              </span>
              <%= raw event.summary %></p>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#heroCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#heroCarousel" data-slide="next">&rsaquo;</a>
</div>

  <div class="row-fluid">
    <div class="span4 feature-box">
      <h3 class="headline"><%= link_to 'Upcoming Events', events_path %></h3>
      <ul>
        <li><strong><%= @events[0].starts_at.strftime("%A, %b %e") %></strong> &mdash; <%= @events[0].title %></li>
        <li><strong><%= @events[1].starts_at.strftime("%A, %b %e") %></strong> &mdash; <%= @events[1].title %></li>
        <li><strong><%= @events[2].starts_at.strftime("%A, %b %e") %></strong> &mdash; <%= @events[2].title %></li>
      </ul>
      <%= link_to "More Events & Details", events_path, class: "btn btn-dirtydog" %>
    </div>
    <div class="span4 feature-box">
      <h3 class="headline"><%= link_to 'Learn to Dance', dance_classes_path %></h3>
      <!-- NOTHIng! -->
      <%= link_to "Sign Up", dance_classes_path, class: "btn btn-dirtydog" %>
    </div>
    <div class="span4 feature-box">
      <h3 class="headline"><%= link_to 'Read Our Manifesto', mobmentality_path %></h3>
      <div class="fb-like" data-href="http://www.facebook.com/mobtownballroom" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div>
      <p>The mob has spoken. Find out why Mobtown is a big deal.</p>
      <%= link_to 'The Mob Mentality', mobmentality_path, class: 'btn btn-dirtydog' %>
    </div>
  </div>

<% content_for :javascript do %>
  <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 5000
        });
      });
  </script>
  <script>(function() { var s = document.createElement("script");s.async = true;s.onload =function(){getYelpWidget("the-mobtown-ballroom-baltimore","270","RED","y","y","0");};s.src='http://chrisawren.com/widgets/yelp/yelpv2.js' ;var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);})();</script>
<% end %>
<% content_for :top_body do %>
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=492733420758797";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  </script>
<% end %>
