<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs" id="staff">
    <li class="active"><a href="#nina" data-toggle="tab">Nina</a></li>
    <li><a href="#michael" data-toggle="tab">Michael</a></li>
    <li><a href="#tabitha" data-toggle="tab">Tabitha</a></li>
    <li><a href="#diana" data-toggle="tab">Diana</a></li>
    <li><a href="#jody-abby" data-toggle="tab">Jody & Abby</a></li>
    <li><a href="#dorry-sommer" data-toggle="tab">Dorry & Sommer</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="nina">
      <%= image_tag("bio-photos/nina.jpg", class: "bio-pic img-rounded") %>
      <p>Nina Gilkenson is, to put it simply, the talent. She teaches more classes at the ballroom than anyone, and she does so with a kindness and wit that puts her students at ease and keeps them laughing. Nina started dancing in 1997, and by 2000 she was a full-time travelling instructor. She has taught all over North America as well as France, Germany, the UK, Japan, Sweden, Italy, Budapest, Russia, Norway, Scotland, Lithuania, and more countries than she can remember. She is booked a year in advance, and has to turn down the vast majority of gigs. She partners with Michael to teach Lindy Hop &amp; Swing and manage the ballroom, but she handles Belly Dance and Burlesque by herself. She also made the massive velvet curtains that adorn the stage. Nina founded the International Lindy Hop Championships, the premier Lindy Hop event in the country, which attracts hundreds of the world's best dancers.</p>
      <p><%= mail_to('nina@mobtownballroom.com') %></p>
    </div>
    <div class="tab-pane" id="michael">
      <%= image_tag("bio-photos/michael.jpg", class: "bio-pic img-rounded") %>
      <p>Michael Seguin started dancing in Seattle in 1999, and helped build the swing and Lindy Hop Program at the world famous Century Ballroom. In 2008 he moved to Baltimore to chase down Nina. He began working on the dance scene by teaching classes and drinking with students on his porch. He is known for throwing wild parties, and for entering contests under the influence.  Michael has competed and taught all across the country, but he is devoted to the Baltimore dance scene and hopes to leave as little as possible. He is noted for a snarky style that only thinly veils how much he cares about his students. You can find him at the ballroom every night of the week, sometimes wearing a red sequin jacket when it’s time for announcements.</p>
      <p><%= mail_to('michael@mobtownballroom.com') %></p>
    </div>
    <div class="tab-pane" id="tabitha">
      <%= image_tag("bio-photos/tabitha.jpg", class: "bio-pic img-rounded") %>
      <p>Tabitha Hitchye-Hollida is a proud Dominican, Haitian, Caucasian, and African American–and she heads up the Mobtown Ballroom’s Latin dance wing, The Baltimore Salsa Dance Company.  Tabitha is a certified Salsa and Zumba instructor with a combination of 14 years of dancing, instructing, and performing.  She currently teaches private and group lessons in Latin Dance such as Salsa, Merengue, Bachata, and Cha-Cha.  She is also a current member of the Dance In Time Professional Rueda Team, Salsa Now Performance Team, and Expression Latina Dance Team.</p>

<p>Baltimore Salsa Dance Company Inc. was founded in 2008 as part of her love for Latin Dance and to spread the joy of dance to all.  The company has participated in numerous events and charities throughout the Baltimore/DC area:  The Annual Polar Bear Plunge, Federal Hill Fest-of-All, Channel 45 appearance, Performance/lessons for The Army National Guard in DC, Baltimore City Association of School Psychologists-Charity Event, Avon Walk for Breast Cancer, March of Dimes Fundraiser, Downtown Baltimore Family Alliance 3rd &amp; 4th Annual School and Children’s Programming Fair, Parks &amp; People’s Foundation Community Greening Celebration, Lessons for The Center Club, to name a few. The Mobtown Ballroom considers Tabitha a tremendous casting coup, and is extremely proud to have her on staff.</p>
      <p><%= mail_to('tabitha@mobtownballroom.com') %></p>
    </div>
    <div class="tab-pane" id="diana">
      <%= image_tag("bio-photos/diana.jpg", class: "bio-pic img-rounded") %>
      <p>Diana Schenck Chapin has been swing dancing since 1993 and has been a part of the Baltimore scene for more than a decade. For years, she has been a DJ, instructor, and organizer for both local and national Baltimore events, including Thursday Swing, Tuesday Blues, and Hi-De-Hon, Baltimore’s Lindy exchange. She can also be found teaching and DJing for local and national events in neighbor scenes like D.C. (Back Room Blues, Red Hot Blues ‘n BBQ), York (YSDC workshops), and Philly (Powerhouse Blues). Diana is the driving force behind Baltimore’s growing blues scene. She is the creator and organizer of the Baltimore Blues Summits, which bring together DJs, instructors, and dancers from across the mid-Atlantic and all over the East Coast. She is also behind the Baltimore Swing, Soul, and Blues Parties, which draw dancers from a variety of communities, including blues, Lindy hop, and West Coast Swing. In July of 2011, she founded Nevermore Blues to give a proper home to these events and to continue to develop the blues scene in Baltimore.</p>
      <p><%= mail_to('diana@mobtownballroom.com') %></p>
    </div>
    <div class="tab-pane" id="jody-abby">
        <p><%= image_tag("bio-photos/jody-abby.jpg", class: "bio-pic img-rounded") %></p>
        <p>Jody and Abby dance. A lot. Because they love it. Jody started partner dancing in 2006, focusing on standard ballroom dances and received multiple teaching certifications. He joined the West Coast Swing world with a vengeance in 2007 and rose to All Star status by 2010. Not only is he a great teacher, but he also is talented on the Mic, MCing different events on both coasts. He knows how to spin the tunes too! It’s not rare to see him disk jock-ing at local venues in Baltimore.</p>
<p>Abby began her dance career at the age of six, learning ballet, tap and jazz. She was introduced to the partner scene at the age of 19, in the Portland world of Argentine Tango, Lindy Hop and Blues. She began WCS six years ago, and hasn’t looked back since! West Coast is truly her passion, and she wants to share her love of the dance to anyone who will lend an attentive ear. Focusing on body movement, balance, and technique, Abby will have you hitting the dance floor in style, and give you a strong foundation to build your dance on.</p>
      <p><%= mail_to('jody@mobtownballroom.com') %> &amp; <%= mail_to('abby@mobtownballroom.com') %></p>
     </div>
    <div class="tab-pane" id="dorry-sommer">
      <%= image_tag("bio-photos/dorry-and-sommer.jpg", class: "bio-pic img-rounded") %>
      <p>Dorry Segev and Sommer Gentry met dancing in 1999, and in 2005 they founded Charm City Swing, because they wanted a place to dance in their hometown. They have taught and competed all over the world and brought home plenty of glory, but their real commitment is to the Baltimore dance scene. Although both of them have full-on careers (she’s a mathematician at the Naval Academy, and he’s a transplant surgeon at Johns-Hopkins), they steadily built the scene from the ground up, investing in local dancers and making Charm City Swing a thriving, friendly organization. In 2010 Dorry, Sommer, Nina, and Michael decided it was high time to invest in a home for Baltimore dancing. They deputized Nina and Michael to oversee the transition and, after a year of wheedling, searching, and scheming, a deal was struck. The first piece of dance floor was laid in late August, and the space was ready in time for the grand opening on September 24th, 2011. If you come out on a Monday or Friday, you’ll be sure to see Sommer doing ridiculous solo moves across the dance floor and Dorry making profane announcements on the microphone.</p>
    </div>
  </div>
</div>

<% content_for :javascript do %>
<script>
$('#personalities a').click(function(e) {
    e.preventDefault();
    $(this).tab('show');
})

$('#personalities a:first').tab('show');
</script>
<% end %>
<% content_for :title, 'Staff' %>
