<%= form_tag bulk_signup_passes_path, controller: 'passes', action: 'bulk_signup' do %>
<div>Name <%= text_field_tag "name" %></div>
<div>Email <%= text_field_tag "email" %></div>

<% @passes.each do |pass| %>
  <%= check_box_tag "pass_ids[]", pass.id, false %>
  <%= pass.summary %>
  <%= text_field_tag "amount_paid[" + pass.id.to_s + "]", number_to_currency(pass.price, unit: '') %>
  <%= pass.few_left? ? pluralize(pass.remaining, 'spot') + ' left' : '' %>
  <%= pass.soldout? ? 'SOLD OUT' : '' %>
  <br />
<% end %>

<%= submit_tag "Register" %>

<% end %> 
