<h4><%= @pass.summary %></h4>
<table class='table table-striped'>
  <thead>
    <th>Name</th>
    <th>Email</th>
    <th>Paid</th>
    <th>Payment Method</th>
    <th>Time</th>
  </thead>
  <tbody>
  <% @registrations.sort_by{|r| r.void ? 1 : 0}.each do |r| %>
    <% c = r.void ? 'void' : '' %>
    <%= content_tag :tr, id: 'registration-'+ r.id.to_s do %>
      <%= content_tag :td, r.name, class: c %>
      <%= content_tag :td, r.email, class: c %>
      <%= content_tag :td, number_to_currency(r.amount_paid), class: c %>
      <%= content_tag :td, r.how_paid, class: c %>
      <%= content_tag :td, r.created_at.strftime("%d %b. %Y %H:%M"), class: c %>
      <%= content_tag :td do %>
        <% if not r.void? %>
          <%= link_to 'Void', void_pass_registration_path(r.pass.id, r.id), class: 'btn', remote: true %>
        <% else %>
          <%= link_to 'Un-void', unvoid_pass_registration_path(r.pass.id, r.id), class: 'btn', remote: true %>
        <% end %> 
      <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>
