<%= form_for @event, :html => { :multipart => true}  do |f| %>
  <% if @event.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited
        this class from being saved:</h2>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
    <%= f.submit %>
  <legend>Essentials</legend>
  <%= f.text_field :title, placeholder: 'Event Title' %>
  <%= f.text_field :starts_at, placeholder: 'Date & Time' %>
  <%= content_tag :label, class: 'file-field' do %>
    <%= f.file_field :photo %> Carousel photo
  <% end %>
  <%= content_tag :label do %>
    <%= f.text_field :summary, display: "width=100%;", placeholder: 'Short description.'  %>
    <span class="help-block">This will be used as a caption on the home page. There is no strict length constraint, but be brief.</span>
  <% end %>
  <legend>Special Event</legend> 
  <%= content_tag :label, class: 'checkbox' do %>
    <%= f.check_box :special %> Make this a Special Event.
  <% end %>
    <p class="help-block">To create a page for this event, write below. It will be linked from the carousel and the calendar. To embed a video, click the Source button and paste in the code from YouTube.</p>
    <%= f.cktext_area :prose %>
  <legend>Registration</legend>
  <%= content_tag :label, class: 'checkbox' do %>
    <%= f.check_box :registration_switch %> Open registration.
  <% end %>
    <%= f.text_field :price, placeholder: 'Price' %>
    <%= f.text_field :student_price, placeholder: 'Student Price' %>
  <p class="help-block">Student price may be left blank.</p>
    <%= f.submit %>

<% end %>
