<%= simple_form_for @event, :html => { multipart: 'true', class: 'form-horizontal'}  do |f| %>
  <% if @event.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited
        this class from being saved:</h2>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= content_tag :legend, 'The Skinny' %>
  <%= f.input :title, placeholder: 'Event Title', label: 'Event' %>
  <%= f.input :photo, label: 'Carousel photo' %>
  <%= f.input :summary, placeholder: 'Short description.', input_html: {rows: 5, columns: 80}  %>
  <span class="help-block">This will be used as a caption on the home page. There is no strict length constraint, but be brief.</span>
  <%= content_tag :div, id: 'occurrences' do %>
    <%= content_tag :legend, 'When' %>
    <%= f.simple_fields_for 'occurrences' do |o| %>
      <%= render 'occurrence_fields', f: o %> 
    <% end %>
  <% end %>
  <%= content_tag :legend, 'Special Event' %>
  <%= f.check_box :special, label: 'Make this a special event.' %> Make this a Special Event.
  <p class="help-block">To create a page for this event, write below. It will be linked from the carousel and the calendar. To embed a video, click the Source button and paste in the code from YouTube.</p>
  <%= f.input :prose, :as => :ckeditor %>
  <%= content_tag :legend, 'Passes' %>
    <%= f.simple_fields_for 'passes' do |pass| %>
      <%= render 'pass_fields', f: pass %> 
    <% end %>
  <%= f.submit %>
<% end %>


<% content_for :javascript do %>
  <script>
$(document).on("focus", "[data-behavior~='datepicker']", function(e){
    $(this).datepicker({"format": "yyyy-mm-dd", "weekStart": 1, "autoclose": true});
});

  </script>
<% end %>
