<%= semantic_form_for @event do |f| %>
  <% if @event.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited
        this class from being saved:</h2>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :special, :as => :boolean %>
    <%= f.input :starts_at, :as => :date_picker %>
    <%= f.input :ends_at, :as => :date_picker %>
    <%= f.input :expiration, :as => :date_picker, :label => "Remove from front page after" %>
    <%= f.input :summary, :as => :ckeditor %>
    <%= f.input :prose, :as => :ckeditor %>
  <% end %>

  <%= f.actions do %> 
    <%= f.action :submit, :as => :button %>
    <%= f.action :cancel, :as => :link %>
  <% end %>

<% end %>
