<%= semantic_form_for @event, :html => { :multipart => true}  do |f| %>
  <% if @event.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited
        this class from being saved:</h2>
    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.inputs do %>
    <%= f.input :title %>
    <p>Special events will be shown the Special Events drop-down menu.</p>
    <%= f.input :special, :as => :boolean %>
    <p>Repeating events are supported, including arbitrarily complex schedules and special exceptions. However, they cannot be set up here. Create the event, and then talk to Dan.</p>
    <%= f.input :starts_at, :as => :date_picker %>
    <p>This photo is shown the carousel. Photos will be automatically cropped to fit.</p>
    <%= f.file_field :photo, :label => "Carousel photo" %>
    <p>The summary will be displayed in the carousel and on the calendar. You can use rich text (bold, italics). But please don't photos here &mdash; weird things will happen.</p>
    <%= f.input :summary, :as => :ckeditor, :toolbarStartupExpanded => 'false'  %>
    <p>To create a special page for this event, add content below. It will be linked from the carousel and the calendar. You can use photos, videos, whatever. If you leave this blank, the carousel and calendar entry won't be clickable.</p>
    <%= f.input :prose, :as => :ckeditor %>
    <%= f.input :registration_switch, label: 'Open registration' %>
    <%= f.input :price %>
    <%= f.input :student_price %>
  <% end %>

  <%= f.actions do %> 
    <%= f.action :submit, :as => :button %>
    <%= f.action :cancel, :as => :link %>
  <% end %>

<% end %>
