<div class="content">
  <%= @tonight.empty? ? '' : content_tag(:h3, 'Tonight', class: 'clear-left timespan') %>
  <%= render partial: 'stub', collection: @tonight, as: :occurrence %>
  <%= @this_week.empty? ? '' : content_tag(:h3, 'Later This Week', class: 'clear-left timespan') %>
  <%= render partial: 'stub', collection: @this_week, as: :occurrence %>
  <%= @beyond.empty? ? '' : content_tag(:h3, 'Looking Ahead', class: 'clear-left timespan') %>
  <%= render partial: 'stub', collection: @beyond, as: :occurrence %>
</div>
<% content_for :title, 'Upcoming Events' %>
