<div class="content">
  <% @events.each do |event| %>
    <div>
      <%= image_tag event.photo.url(:small), class: "img-rounded pull-left" %>
      <h5><%= event.starts_at.strftime("%A, %b %e") + ': ' + event.title %></h5>
      <p><%= raw event.summary %></p>
      <%= event.prose.blank? ? '' : link_to('Would You Like to Know More?', event_path(event), class: 'btn btn-dirtydog') %>
      <% if logged_in? %>
        <p class='war-room'>War Room: <%= link_to 'Edit or Destroy', edit_event_path(event) %></p>
      <% end %>
    </div>
  <% end %>
<% if logged_in? %>
  <p class='war-room'>War Room: <%= link_to 'New Event', new_event_path %></p>
<% end %>
</div>
