<h4><%= @repeats ? '' : content_tag(:span, raw(@next) + ': ', class: 'event-date')%> <%= @event.title %></h4>
<% if @repeats %>
<h5>Next one: <%= content_tag(:span, raw(@next), class: 'event-date')%></h5>
<% end %>

<div class="content">
  <% if @event.prose.blank? %>
    <%= image_tag @event.photo.url(:small), class: "img-rounded pull-left" %>
  <% end %>
  <%= raw @event.prose.blank? ? @event.summary : @event.prose %>
</div>

<% if logged_in? %>
  <p class='war-room'><%= link_to "Edit or Destroy", edit_event_path(@event) %></p>
<% end %>
<% content_for :title, @event.title %>
<% content_for :og_image, request.protocol + request.host_with_port + @event.photo.url %>
