
<div class="content">
  <h4>
     <%= @event.occurrences.empty? ? '' : @event.occurrences[0].start.strftime('%b %d') + ': ' %>
     <%= @event.title %>
  </h4>
<%= logged_in? ? link_to("Edit or Destroy", edit_event_path(@event)) : '' %>
  <div class="row">
    <% if not @event.passes.empty? %>
      <div class="span8">
        <%= raw @event.prose.blank? ? @event.summary : @event.prose %>
      </div>
      <div class="signup-well span4">
        <%= render :template => 'charges/new', :locals => {:passes => @event.passes} %>
      </div>
    <% else %>
      <div class="span12">
        <%= @event.prose.blank? ? image_tag(@event.photo.url(:small), class: "img-rounded pull-left") : '' %>
        <%= raw @event.prose.blank? ? @event.summary : @event.prose %>
      </div>
    <% end %>
  </div>
</div>

<% content_for :title, @event.title %>
<% content_for :og_image, request.protocol + request.host_with_port + @event.photo.url %>
