<div class="row-fluid">
  <div class="span9 content">
    <h4><%= @category.name %></h4>
    <%= raw @category.prose %>
    <% if logged_in? %>
      <p class="war-room">War Room: <%= link_to 'Edit This Category Description', edit_category_path(@category) %>
    <% end %>
    <div class="tabbable row-fluid clear-left">
      <ul class="nav nav-tabs" id="dance-classes">
        <% @dance_classes.each do |dance_class| %>
        <li><a href="#tab-<%= dance_class.friendly_id %>" data-toggle="tab"><%= dance_class.name %></a></li>
        <% end %>
      </ul>
      <div class="tab-content span12">
        <% @dance_classes.each do |dance_class| %>
        <div class="tab-pane row-fluid" id="tab-<%= dance_class.friendly_id %>">
          <div class="span8 min-width-youtube">
            <%= yield :dance_class %>
            <p><%= dance_class.description.html_safe %></p>
          </div>
          <div class="signup-well span4">
            <% if not dance_class.passes.active.empty? %>
              <%= render :template => 'registrations/new', :locals => {:passes => dance_class.passes.active} %>
            <% else %>
              <p>Registration is not currently open. Check back later on, or <%= link_to 'email us', 'mailto:mobtownballroom@gmail.com' %>to enquire.</p>.
            <% end %>
          </div>
        <% if logged_in? %>
          <p class='war-room'>War Room: <%= link_to 'Edit or Destroy', edit_dance_class_path(dance_class) %></p>
        <% end %>
        </div>
        <% end %>
      </div><!-- tab-content -->
      <% if logged_in? %>
        <p class="war-room">War Room: <%= link_to 'New Class', new_dance_class_path %></p>
      <% end %>
    </div>
  </div>

  <div class="span3" id="all-dance-classes">
    <%= render 'all_classes_menu' %>
  </div>

  <% content_for :javascript do %>
    <script>
      $('#dance-classes a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
      })  
      $('#dance-classes a<%=raw @tab %>').tab('show');

      document.getElementById("classes-nav-element").className += "active";
    </script>
  <% end %>

</div><!-- row-fluid -->
<% content_for :title, 'Dance Classes' %>
