<div class="row-fluid">
  <div class="span9 content">
    <%= render 'dance_classes/' + @category %>
    <div class="tabbable row-fluid clear-left">
      <ul class="nav nav-tabs" id="dance-classes">
        <% @dance_classes.each do |dance_class| %>
        <li><a href="#tab<%= dance_class.id %>" data-toggle="tab"><%= dance_class.name %></a></li>
        <% end %>
      </ul>
      <div class="tab-content span12">
        <% @dance_classes.each do |dance_class| %>
        <div class="tab-pane row-fluid" id="tab<%= dance_class.id %>">
          <div class="span8 min-width-youtube">
            <%= yield :dance_class %>
            <p><%= dance_class.description.html_safe %></p>
          </div>
          <div class="signup-well span4">
            <h5>Current Session</h5>
            <p><%= dance_class.session_dates %></p>
            <h5>Pricing</h5>
            <% if not dance_class.student_price.blank? %>
              <ul>
                <li>Adult <%= number_to_currency(dance_class.price) %></li>
                <li>Student <%= number_to_currency(dance_class.student_price) %></li>
              </ul>
            <% else %>
              <p><%= number_to_currency(dance_class.price) %></p>
            <% end %>
<%= render :partial => 'dance_classes/paypal', :locals => {:dance_class => dance_class} %>
          </div>
        <% if logged_in? %>
          <p class='war-room'>War Room: <%= link_to 'Edit or Destroy', edit_dance_class_path(dance_class) %></p>
        <% end %>
        </div>
        <% end %>
      </div><!-- tab-content -->
      <% if logged_in? %>
        <p class="war-room">War Room: <%= link_to 'New Class', new_dance_class_path %></p>
      <% end %>
    </div>
  </div>

  <div class="span3" id="all-dance-classes">
    <ul class="nav nav-list">
      <li class="nav-header">East Coast Swing</li>
      <% @all_dance_classes.select {|c| c.category.include?('swing')}.each do |dance_class| %>
        <li><%= link_to dance_class.name, url_for(dance_class) %></li>
      <% end %>
      <li class="nav-header">Lindy Hop</li>
      <% @all_dance_classes.select {|c| c.category.include?('lindy')}.each do |dance_class| %>
        <li><%= link_to dance_class.name, url_for(dance_class) %></li>
      <% end %>
      <li class="nav-header">West Coast Swing</li>
      <% @all_dance_classes.select {|c| c.category.include?('west_coast')}.each do |dance_class| %>
        <li><%= link_to dance_class.name, url_for(dance_class) %></li>
      <% end %>
      <li class="nav-header">Belly Dancing</li>
      <% @all_dance_classes.select {|c| c.category.include?('belly_dancing')}.each do |dance_class| %>
        <li><%= link_to dance_class.name, url_for(dance_class) %></li>
      <% end %>
      <li class="nav-header">Salsa</li>
      <% @all_dance_classes.select {|c| c.category.include?('salsa')}.each do |dance_class| %>
        <li><%= link_to dance_class.name, url_for(dance_class) %></li>
      <% end %>
    </ul>
    </ul>
  </div>

  <% content_for :javascript do %>
    <script>
      $('#dance-classes a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
      })  
      $('#dance-classes a<%=raw @tab %>').tab('show');

      document.getElementById("classes-nav-element").className += "active";
    </script>
  <% end %>

</div><!-- row-fluid -->
