<%= semantic_form_for @dance_class do |f| %>
  <% if @dance_class.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@dance_class.errors.count, "error") %> prohibited
        this class from being saved:</h2>
    <ul>
    <% @dance_class.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.inputs :name => "The Sell" do %>
    <%= f.inputs :name, :category, :price, :student_price  %>
    <%= f.input :description, :as => :ckeditor %>
  <% end %>

  <%= f.actions do %> 
    <%= f.action :submit, :as => :button %>
    <%= f.action :cancel, :as => :link %>
  <% end %>

<% end %>
