<%= simple_form_for @dance_class, html: {class: 'form-horizontal'} do |f| %>
  <% if @dance_class.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@dance_class.errors.count, "error") %> prohibited
        this class from being saved:</h2>
    <ul>
    <% @dance_class.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.input :name %>
  <%= f.input :category_id, collection: Category.all %>
  <div class="control-group"><div class="control-label">or create a new category called</div><div class="controls"><%= f.text_field :new_category_name %></div></div>
  <%= f.input :description, :as => :ckeditor %>
  <%= content_tag :legend, 'Passes' %>
  <%= f.simple_fields_for 'passes' do |p| %>
    <%= render 'passes/fields', f: p %>
  <% end %>
  <%= f.submit %>
<% end %>
