<%= semantic_form_for @dance_class do |f| %>
  <% if @dance_class.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@dance_class.errors.count, "error") %> prohibited
        this class from being saved:</h2>
    <ul>
    <% @dance_class.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :session_dates, :label => "Session Dates & Meeting Times" %>
  <%= f.input :description, :as => :ckeditor %>
  <%= f.input :price %>
  <%= f.input :student_price %>

  <%= f.actions do %> 
    <%= f.action :submit, :as => :button %>
    <%= f.action :cancel, :as => :link %>
  <% end %>

<% end %>
