<div class="row-fluid">
  <div class="span9">
    <%= render 'dance_classes/' + @category %>

    <div class="tabbable row-fluid">
      <ul class="nav nav-tabs" id="dance-classes">
        <% @dance_classes.each do |dance_class| %>
        <li><a href="#tab<%= dance_class.id %>" data-toggle="tab"><%= dance_class.name %></a></li>
        <% end %>
      </ul>
      <div class="tab-content span12">
        <% @dance_classes.each do |dance_class| %>
        <div class="tab-pane row-fluid" id="tab<%= dance_class.id %>">
          <div class="span9">
            <p><%= dance_class.description %></p>
          </div>
          <div class="signup-well span3">
            <h5>Current Session</h5>
            <p>Jan 1 - Feb 1</p>
            <h5>Pricing</h5>
            <p>$1,000,000</p>
            <a class="btn btn-dirtydog">Sign up</a>
          </div>
        </div>
        <% end %>
    </div>
  </div>

  <div class="span3" id="all-dance-classes">
    <ul class="nav nav-list">
      <li class="nav-header">East Coast Swing</li>
      <% @all_dance_classes.select {|c| c.category.include?('swing')}.each do |dance_class| %>
        <li><%= link_to dance_class.name, classes_path + '/' + dance_class.category + '/' + dance_class.id.to_s %></li>
      <% end %>
      <li class="nav-header">Lindy Hop</li>
      <% @all_dance_classes.select {|c| c.category.include?('lindy')}.each do |dance_class| %>
        <li><%= link_to dance_class.name, classes_path + '/' + dance_class.category + '/' + dance_class.id.to_s %></li>
      <% end %>
      <li class="nav-header">West Coast Swing</li>
      <% @all_dance_classes.select {|c| c.category.include?('west_coast')}.each do |dance_class| %>
        <li><%= link_to dance_class.name, classes_path + '/' + dance_class.category + '/' + dance_class.id.to_s %></li>
      <% end %>
      <li class="nav-header">Belly Dancing</li>
      <% @all_dance_classes.select {|c| c.category.include?('belly_dancing')}.each do |dance_class| %>
        <li><%= link_to dance_class.name, classes_path + '/' + dance_class.category + '/' + dance_class.id.to_s %></li>
      <% end %>
      <li class="nav-header">Salsa</li>
      <% @all_dance_classes.select {|c| c.category.include?('salsa')}.each do |dance_class| %>
        <li><%= link_to dance_class.name, classes_path + '/' + dance_class.category + '/' + dance_class.id.to_s %></li>
      <% end %>
    </ul>
    </ul>
  </div>

  <% content_for :javascript do %>
    <script>
      $('#dance-classes a').click(function(e) {
        e.preventDefault();
        $(this).tab('show');
      })  
      $('#dance-classes a<%=raw @tab %>').tab('show');

      document.getElementById("classes-nav-element").className += "active";
    </script>
  <% end %>

  </div>
</div><!-- row-fluid -->
