<%= simple_form_for @category do |f| %>
  <% if @category.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@category.errors.count, "error") %> prohibited
        this class from being saved:</h2>
    <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <%= f.input :name %>
  <%= f.input :prose, :as => :ckeditor %>
  <%= f.submit 'Save', :as => :button %>

<% end %>
