<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" class="paypal">
  <!-- Identify your business so that you can collect the payments. -->
  <input type="hidden" name="business" value="mobtownballroom@gmail.com">
  <!-- Specify a PayPal Shopping Cart Add to Cart button. -->
  <input type="hidden" name="cmd" value="_cart">
  <input type="hidden" name="add" value="1">
  <!-- Specify details about the item that buyers will purchase. -->
  <% name = defined?(item.name) ? item.name : item.title # Hack! %>
  <input type="hidden" name="item_name" value="<%= name %>" />
  <input type="hidden" name="amount" value="<%= item.price %>" />
  <input type="hidden" name="currency_code" value="USD" />
  <% if not item.student_price.blank? %>
    <input name="on0" type="hidden" value="student" />
    <select name="os0" class="student">
      <option value="no">Adult - <%= number_to_currency(item.price) %></option>
      <option value="yes">Student - <%= number_to_currency(item.student_price) %></option>
    </select>
    <input type="hidden" name="option_select0" value="no" />
    <input type="hidden" name="option_select1" value="yes" />
    <input type="hidden" name="option_amount0" value="<%= item.price %>" />
    <input type="hidden" name="option_amount1" value="<%= item.student_price %>" />
  <!-- Specify where customers return if order succeeds or is canceled. -->
  <% end %>
  <!-- Display the payment button. -->
  <input type="submit" name="submit" class="btn btn-dirtydog" value="Register" alt="PayPal - The safer, easier way to pay online" />
</form>
