<%= link_to content_tag(:i, '', class: 'icon-plus') + ' New Event', new_event_path, class: 'btn pull-right' %>
<%= content_tag(:h4, 'Events') %>
<table class='table ruled table-hover'>
  <tbody>
  <% @events.sort_by{|e| -e.passes.count}.each do |event| %>
    <%= content_tag :tr do %>
      <%= content_tag :td do %>
        <%= link_to(content_tag(:h5, event.title), edit_event_path(event)) %>
        <% if event.occurrences.empty? %>
          <p class='note'>No scheduled occurrences. This event is dormant, kept for future reuse.</p>
        <% else %>
          <p class='note'>Scheduled <%= event.occurrences.collect{|o| o.start}.to_sentence %> 
          </p>
        <% end %>
        <% if event.passes.empty? %>
          <p class='note'>No passes</p>
        <% else %>
           
          <table class='table-bordered ruled'>
          <% event.passes.sort_by{|p| [-p.price, p.name]}.each do |pass| %>
            <tr>
              <%= content_tag :td, pass.name %>
              <%= content_tag :td, number_to_currency(pass.price) %>
              <%= content_tag :td  do %>
                <%= content_tag(:strong, pass.registrations.count) %>
                <%= pass.limit.blank? ? ' sold' : '/' + pass.limit.to_s + ' sold' %>
              <% end %>
              <%= content_tag :td, number_to_currency(pass.registrations.collect{|r| r.amount_paid}.sum) + ' collected' %>
              <%= pass.registrations.empty? ? content_tag(:td, 'No Registrants') : content_tag(:td, link_to('View Registration List', pass_registrations_path(pass), class: 'btn')) %>
            </tr>
          <% end %>
          </table>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>
<%= link_to content_tag(:i, '', class: 'icon-plus') + ' New Class', new_dance_class_path, class: 'btn pull-right' %>
<h4>Classes</h4>
<table class='table ruled'>
  <tbody>
  <% @dance_classes.each do |dance_class| %>
    <%= content_tag :tr do %>
      <%= content_tag :td, link_to(content_tag(:h5, dance_class.name), edit_dance_class_path(dance_class)) %>
      <%= content_tag :td, link_to(content_tag(:i, '', class: 'icon-trash'), dance_class, :confirm => 'Pull the trigger?', :method => :delete) %>
    <% end %>
  <% end %>
  </tbody>
</table>
<%= link_to content_tag(:i, '', class: 'icon-plus') + ' New Mob Blog Post', new_post_path, class: 'btn' %>
