<p>Great, we'll have your name at the door. Click this button to pay up, and you'll be good to go.</p>

<%= form_tag charges_path, remote: true do %>
  <%= submit_tag 'Pay by Card', id: 'stripe', class: 'btn btn-dirtydog', disable_with: 'Wait for it....' %> 
  <%= hidden_field_tag 'registration[name]', @name %>
  <%= hidden_field_tag 'registration[email]', @email %>
  <%= hidden_field_tag 'registration[student]', @student %>
  <%= hidden_field_tag 'opt_in', @opt_in %>
  <%= hidden_field_tag 'pass_id', @pass.id %>
<% end %>

<p>Your credit card information is transmitted over a secure connection. We at Mobtown never handle it, and no one stores it.</p>
<%= link_to image_tag('powered-by-stripe.png', class: 'pull-right'), 'https://stripe.com' %>
