<footer class="center">
  <ul class="nav nav-pills">
    <li class="<%= 'active' if current_page?(map_path) %>"><%= link_to "Map", map_path %></li>
    <li><%= link_to "Facebook", 'http://www.facebook.com/pages/Mobtown-Ballroom/201271009923515' %></li>
    <li><%= link_to "Twitter", 'http://twitter.com/#!/mobtownballroom' %></li>
    <li><%= link_to "Yelp", 'http://www.yelp.com/biz/mobtown-ballroom-baltimore' %></li>
    <li><%= link_to "Email Us", 'mailto:michael@mobtownballroom.com' %></li>
  </ul>
  <p class="center">The Mobtown Ballroom &middot; 861 Washington Boulevard Baltimore, MD 21230 &middot; (443) 699-3040 &middot; mobtownballroom@gmail.com</p>
</footer>
