<footer class="footer">
  <nav class="nav">
    <ul>
      <li><%= link_to "The Location", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Facebook", 'http://www.facebook.com/pages/Mobtown-Ballroom/201271009923515' %></li>
      <li><%= link_to "Twitter", 'http://twitter.com/#!/mobtownballroom' %></li>
      <li><%= link_to "Yelp", 'http://www.yelp.com/biz/mobtown-ballroom-baltimore' %></li>
      <li><%= link_to "Email Us", 'mailto:michael@mobtownballroom.com' %></li>
    </ul>
  </nav>
</footer>
